<div class="container mt-5">
    <h2 class="text-center">Créer un Mécanicien</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nomUtilisateur">Nom d'utilisateur</label>
        <input
          type="text"
          class="form-control"
          placeholder="Nom d'utilisateur"
          [(ngModel)]="nomUtilisateur"
          name="nomUtilisateur"
          required
        />
      </div>
      <div class="form-group">
        <label for="motdepasse">Mot de passe</label>
        <input
          type="password"
          class="form-control"
          placeholder="Mot de passe"
          [(ngModel)]="motdepasse"
          name="motdepasse"
          required
        />
      </div>
      <div class="form-group">
        <label for="nom">Nom</label>
        <input
          type="text"
          class="form-control"
          placeholder="Nom"
          [(ngModel)]="nom"
          name="nom"
          required
        />
      </div>
      <div class="form-group">
        <label for="prenom">Prénom</label>
        <input
          type="text"
          class="form-control"
          placeholder="Prénom"
          [(ngModel)]="prenom"
          name="prenom"
          required
        />
      </div>
  
      <button type="submit" class="btn btn-primary btn-block">Créer</button>
    </form>
  
    <!-- Bootstrap Toast -->
    <div
      *ngIf="creationMessage"
      class="toast position-fixed bottom-0 end-0 m-3"
      [ngClass]="{
        'bg-success': creationMessage === 'Mécanicien créé avec succès.',
        'bg-danger': creationMessage !== 'Mécanicien créé avec succès.'
      }"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
      [hidden]="!creationMessage"
      [ngStyle]="{ opacity: creationMessage ? 1 : 0 }"
      [@fadeInOut]
    >
      <div class="toast-header">
        <strong class="me-auto">Message</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">{{ creationMessage }}</div>
    </div>
  </div>
  